$color-primary: #ea9b55;
$color-secondary: #52281a;
$color-tertiary: #fe8ca1;
$color-primary-darker: #daa565;
$color-primary-opacity: #f0b37b;

$color-grey-light-1: #f2f2f2;
$color-grey-light-2: #f8f8f8;
$color-grey-light-3: #fafafa;
$color-grey-dark-1: #969696;

$color-white: #fff;
$color-black: #000;
$color-wheat: #f5deb3;
$color-antiquewhite: #faebd7;
$color-siena: #f3b192;

$color-header-gradient: #d4a47080;