.form--order-home {
  @extend .form;

  .form__section {
    &--order-home-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $color-grey-light-1;
    }

    &--order-home-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $color-white;
    }

    &--order-home-3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 2rem;
      background: $color-grey-light-1;
    }
  }
}